#back {
    position:absolute;
    top:8px;
    left:8px;
}
#back:hover {
    text-decoration: none;
}
caption {
    caption-side: top;
}
.details tbody tr:hover, tr.active {
    cursor: pointer;
    background: #FFF9C4 !important;
}
.auto-width {
    width: auto;
}

body {
    color: #444;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 40px;
}
h2 {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: .1em;
}
a, .action { 
    text-decoration: none;
    color: #4283b9;
}
a:hover {
    text-decoration: none;
}
.action {
    cursor: pointer;
    padding: 0 10px;
}
form {
    padding: 20px 0;
}
