#back {
    position:absolute;
    top:8px;
    left:8px;
}
#back:hover {
    text-decoration: none;
}
#sig {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #7f8c8d;
    font-size: .85rem;
    line-height: 2rem;
    z-index: 1;
}
body {
    color: #444;
    padding: 60px;
}
a { 
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 48px;
}
#title img {
    height: 60px;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1em;
    margin: 30px 0 20px 0;
}
#page {
    max-width: 990px;
}
.live-template .output {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 25px 35px;
    margin-top: .5em;
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
    user-select: none;
    overflow-x: auto;
    max-height: 750px;
    width: 98.5%;
}
.live-template .output {
    width: 100%;
    white-space: pre;
}
.live-template.error {
    border-color: #a94442;
}
caption {
    caption-side: top; 
    text-align: center;
    font-size: 1.2rem;
}
